.warna{
    background-color: aqua !important;
}
.btn-success{
    background-color: #5CB85F;
    color: aliceblue;
    width: 81px;
    height: 36px;
    border-radius: 5px;
}

.blue{
    background: #0D28A6;
}

.teks{
    padding-left: 100px;
}
.teksh1{
    max-width: 550px;
}
.teksp{
    max-width: 468px;
}
.cewe{
    padding-left: 80px;
}
.bold{
    font-weight: bold;
}

.pl-30{
    padding-left: 33px;
}

.mt-50{
    margin-top: 50px;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20p{
    margin-top: 6%;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-30{
    margin-bottom: 30px;
}

.whyus{
    margin-top: 100px;
}

.mw-500{
    max-width: 508px;
}

.mrml-20{
    margin-left: 20px;
    margin-right: 20px;
}

.mrml-10{
    margin-left: 10px;
    margin-right: 10px;
}

.mlmr-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.mlmr-70{
    margin-top: 70px;
    margin-bottom: 70px;
}

.whyus p{
    max-width: 216px;
}

.mr-100{
    margin-right: 116px !important;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mkanan-30{
    margin-right: 30px;
}

.br{
    border-radius: 6%;
}

.br-15 {
    border-radius: 15px;
}

.garis1{
    border: 1px solid rgb(202, 202, 202);
}

.Testimonial-component{
    text-align: center;
}

.item {
    
    background: #F1F3FF;
    border-radius: 15px;
    margin-left: 10px;
}

.bwhite{
    border: 1px white solid;
}

.white{
    color: #fff;
}

.fblack{
    color: black;
}

.btn-sewa{
    border: 1px solid #5CB85F ;
    color: #fff;
    background-color: #5CB85F;
    border-radius: 5px;
}

.wi-22{
    width: 22%  !important; 
}

.owl-carousel .owl-item img {
    display: block;
    
}


.foto{
    width: 130px !important;
    margin: auto;
    
 
}

.sewa .col-md-12{
    height: 326px;
    border-radius: 10px;
}

.sewa p{
    max-width: 49%;
    margin-left: 25%;
}

.sewa h1{
    margin-top: 6%;
}

.header{
    background: #F1F3FF
}

.mr-im{
    margin-left: 33px !important;
}

.offcanvas-end {
    top: 0px;
    right: 0px;
    width: 212px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}

.offcanvas-backdrop.show {
    opacity: 0.7;
}

/* .sewa2{
    padding: 10px 145px 10px 86px;
} */

.card .row .col-md-3 p {
        margin-top: 0;
        margin-bottom: 0rem;
}

/* select {
    word-wrap: normal;
    border-radius: 7px;
    height: 33px;
    border: 1px solid rgb(165, 163, 163);
} */

.tanggal {
    border-radius: 7px;
    height: 33px;
    border: 1px solid rgb(165, 163, 163);
}

.ml-30 {
    margin-left: 30px;
}

.ml-20 {
    margin-left: 20px;
}




.mw-17 {
    max-width: 20%;
}

.ml-17{
    margin-left: 10%;
}


.cardcari {
    padding: 18px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: -5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    border-radius: 8px;
}

.cardcari2 {
    margin-left: 110px;
    margin-right: 110px;
}



.card .card1 {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15) !important;
    border-radius: 8px;
}


.tengah2 {
    text-align: center;
}

.btn-success2 {
    background-color: #5CB85F;
    color: aliceblue;
    width: 94px;
    height: 36px;
    margin-top: 34px;
    border-radius: 5px;
}

.col-md-11 {
    flex: 0 0 auto;
    width: 86.666667%;
}

.w-100 {
    width: 100%;
}

/* .form-select option{
    font-size: 15px;
    color: #8A8A8A;
} */

@media (max-width: 575.98px) {
    .tengah {
        text-align: center;
    }
    .fototengah {
        margin: auto;
    }

    .mt-15{
        margin-top: 15px;
    }

    .mr-10 {
        margin-left: 10px;
    }

    .ml-0k {
        margin-left: 0;
    }

    .mr-0k {
        margin-right: 0;
    }


    .mt-30k {
        margin-top: 30px;
    }

    .sewa .col-md-12{
        height: 370px;
        border-radius: 10px;
    }

    .mt-0 {
        margin-top: 0;
    }

    .pl-10kecil {
        padding-left: 10px;
    }

    .pr-10kecil {
        padding-right: 10px ;
    }

    .ml-65 {
        margin-left: 65px !important;
    }
 }

@media (max-width: 767.98px) {
    .ml-0k {
        margin-left: 0;
    }

    .mr-0k {
        margin-right: 0;
    }
    
 }

@media (max-width: 991.98px) {
    .ml-0k {
        margin-left: 0;
    }

    .mr-0k {
        margin-right: 0;
    }
    
 }

@media (max-width: 1199.98px) {
    

 }

@media (max-width: 1399.98px) {
    .mt-50besar{
        margin-top: 50px;
    }

    

 }